@import "./mixin/mixin.scss";
@import "./base/base.scss";
@import "./module/module.scss";

//*------------------*
//*  ヘッダー
//*------------------*
.header{
  width: 100%;
  line-height: 70px;
  position: fixed;
  z-index: 20;

  &__inner{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo{
    @include rem(24);
    color:$font-color__white;
    font-family: $font-en;
    font-style: italic;
    font-weight: bold;

    @include mobile(){
      @include rem(18);
    }

  }

  &__nav{
    @include rem(16);
    color:$font-color__white;
    font-family: $font-en;
    font-weight: bold;
    text-transform: uppercase;

    @include tablet(){
      display: none;
    }
  }
}

.bg-color{
  background-color: $base-color;
  opacity: 0.7;
}

.nav__list{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;

}

.nav__item a{
  @include _hover-doubleCircle(#9badee);
}

.nav__item + .nav__item{
  margin-left: 35px;
}

/*バーガーボタン*/
.burger{
  &-wrap{
    position: absolute;
    top: 0;
    right: 0;	
    display: none;

    @include tablet(){
      display:block;
    }
  }

  &-label{
    position: fixed;
    top: 20px;
    right: 5vw;
    color: #fff;
    font-size: 14px;
    z-index: 20;
  }

  &__list{
    @include rem(20);
    color: $font-color__white;
    margin-top: 50px;
  }

}

#burger{

  &-content{
    overflow: auto;
    position: fixed;
    top: 0;
    right: 0;
    padding: 30px;
    z-index: 40;
    width: 60vw;
    min-width: 60vw;
    height: 100%;
    background-color: $base-color;
    opacity: 0.9;
    transition: all 0.3s ease-in-out 0s;
    transform: translateX(100%);
    display: flex;
    text-align: center;
    justify-content: center;
  }

  &-checkbox:checked ~ &-content {
    transform: translateX(0);
    box-shadow: 6px 0 24px rgba(0, 0, 0, 0.16);
  }

  &-close{
    display: none;
    position: fixed;
    z-index: 39;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    transition: all 0.3s ease-in-out 0s;
  }

  &-checkbox:checked ~ &-close {
    display: block;
    opacity: 0.3;
  }

  &-checkbox{
    display: none;
  }

  &-icon {
    cursor: pointer;
    display: inline-block;
    height: 50px;
    position: fixed;
    width: 50px;
    right: 4vw;
    top: 14px;
    z-index: 100;	
  }

  &-icon span{
    background: #fff;
    display: block;
    height: 2px;
    left: 50%;
    margin: -8% 0 0 -42%;
    position: absolute;
    top: 46%;
    transition: all 0.3s ease-in-out 0s;
    width: 84%;
  }

  &-icon span::before,
  &-icon span::after{
    -webkit-transform: rotate(0);
    background: #fff;
    content: "";
    display: block;
    height: 100%;
    left: 50%;
    margin: -8% 0 0 -50%;
    position: absolute;
    top: 50%;
    transform: rotate(0);
    transition: all 0.3s ease-in-out;
    width: 100%;
  }

  &-icon span::before{
    margin-top: -12px;
  }
  &-icon span::after{
    margin-top: 10px;
  }

  &-checkbox:checked ~ &-icon span {
    background: rgba(51, 51, 51, 0);
  }

  &-checkbox:checked ~ &-icon span::before,
  &-checkbox:checked ~ &-icon span::after{
    content: "";
    display: block;
    height: 100%;
    left: 50%;
    margin: -8% 0 0 -42%;
    position: absolute;
    top: 50%;
    width: 100%;
  }
  
  &-checkbox:checked ~ &-icon span::before{
    -webkit-transform: rotate(-315deg);
    transform: rotate(-315deg);
  }
  &-checkbox:checked ~ &-icon span::after{
    -webkit-transform: rotate(315deg);
    transform: rotate(315deg);
  }

}


/*-----------------
/*ファーストビュー
-------------------*/
.fv{
  width: 100%;
  height: 70vh;
  background-color: $base-color;
  position: relative;

  &::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 72vw 62vh 0;
    border-color: transparent transparent #1F41B4 transparent;
  }
  &::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 13vh 20vw 0 0;
    border-color: #1F3491 transparent transparent  transparent;
  }

  &__inner{
    max-width: 1270px;
    height: 70vh;
    margin: 0 auto;
    padding: 0 4vw;
    position: relative;
  }

  &__copy{
    @include rem(48);
    color:$font-color__white;
    font-family: $font-en;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 0.1em;
    position: absolute;
    top: 40%;
    left: 4vw;

    span{
      color: rgb(255, 255, 0);
    }

    @include mobile(){
      @include rem(32);
      line-height: 1.2em;
    }
  }

}

.fade{
  opacity: 0;
  animation-name: fadein-bottom;
  animation-duration: 2.0s;
  animation-delay: .5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes fadein-bottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/*-----------------
/*ワークス
-------------------*/
.cards{
  display: flex;
  flex-wrap: wrap;
  &-col3{
    margin-bottom: -30px;
    @include tablet(){
      margin-bottom: -20px;
    }
    > .cards__item{
      width: 31.707%;
      margin-right: 2.43902%;
      &:nth-of-type(3n){
        margin-right: 0;
      }
    }
  }
  > .cards__item{
    @include tablet(){
      width: 100%;
      margin-right: 0;
    }
  }
}

.card{
  margin-top: 60px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, .16);
  
  @include mobile(){
    margin-top: 30px;
  }

  &__img-wrapper{
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;
  
  }
  &__img{
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    transition: .3s;
  }
  &__body{
    font-family: $font-en;
    text-align: left;
    padding: 20px 10px;
    & > *:last-child{
      margin-bottom: 0;
    }
  }
  &__ttl{
    @include rem(20);
    font-weight: bold;
    font-style: italic;
  }
  &__text{
    margin-top: 20px;
    @include rem(16);
    color: #777;
  }
}

.works__btn{
  margin-top: 80px;
  padding: 5px 30px;
  background-color: $base-color;
  border-radius: 35px;

  @include mobile(){
    margin-top: 45px;
  }

  img:nth-of-type(2){
    display: none;
  }

  &:hover,&:focus{
    img:nth-of-type(1){
      display: none;
    }
    img:nth-of-type(2){
      display: block;
    }
  }

}

/*-----------------
/*アバウト
-------------------*/
#about{
  position: relative;
  z-index: 0;
}

#about::before{
  content: '';
  background-color: rgba(0, 136, 255, .06);
  position: absolute;
  top: 0;
  left: 0;
  transform: skewY(-10deg);
  transform-origin: bottom left;
  width: 100%;
  height: 740px;
  z-index: -1;

  @include tablet(){
    height: 1050px
  }
  @include mobile(){
    height: 740px
  }
}

.media{
  width: 95%;
  display: flex;
  margin: 50px auto 0;
  padding: 10px 2vw;
  @include tablet(){
    display: block;
  }
  &__img-wrapper{
    flex: 0 1 30%;
    margin-right: percentage(90/1200);
    position: relative;
    padding-top: 40%;
    overflow: hidden;
    @include tablet(){
      margin: 0 4vw;
      margin-bottom: 20px;
      padding-top: 70%;
    }

    @include tablet(){
      display: flex;
      justify-content: center;
    }
  }
  
  &__img{
    display: block;
    width: 100%;
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);

    @include tablet(){
      width: 78%;
    }
  }
  &__body{
    text-align: left;
    flex: 1;
    @include tablet(){
      margin: 40px 4vw 0;
    }
    & > *:last-child{
      margin-bottom: 0;
    }
  }
  &__title{
    margin: 0 0 10px;
    @include rem(36);
    font-family: $font-en;
    font-weight: bold;
    font-style: italic;
  }

  &__text{
    margin: 37px 0 10px;
    @include rem(20);
    line-height: 2.5em;

    @include mobile(){
      @include rem(16);
      margin-top: 20px;
    }
  }
}

/*-----------------
/*スキル
-------------------*/
.skills__card{
  box-shadow: none;

  @include mobile(){
    margin-top: 10px;
  }

  .card__img-wrapper{
    display: flex;
    justify-content: center;
  }

  .card__img{
    width: 80%;
  }
  .card__body{
    padding: 0;
    line-height: 1.5em;
  }
}

/*-----------------
/*コンタクト
-------------------*/
#contact{
  padding: 0 0 120px;
  background-color: rgba(0, 136, 255, .06);

  .section__title{
    padding-top: 60px;
  }
}

.contact{
  
  &__icon{
  margin-top: 35px;
  }
  &__text{
    margin-top: 35px;
    line-height: 1.5em;
  }
}

/*-----------------
/*フッター
-------------------*/
.footer{
  width: 100%;
  height: 70px;
  margin: 0;
  background-color: $base-color;
  color: #fff;
  text-align: center;
  @include rem(16);
  font-family: $font-en;
  font-style: italic;
  &__text{
    margin: 0;
    padding-top: 30px;
  }
  // @include tablet{
  //   margin-top: 80px;
  // }
}
